* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: system-ui;
    overflow: hidden;
}

header {
    background: #1e1f26;
    padding: 20px;
}

h1 {
    color: #dadada;
}

h2 {
    background: #1a1b1f;
    padding: 5px 37px;
    font-size: 16px;
    color: #aaaebc;
    position: absolute;
    width: 98%;
    left: 15px;
}

.code-area {
    width: 100%;
    height: 300px;
}

.code-area textarea {
    resize: none;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 40px;
}
.preview-area {
    width: 100%;
    background: #f7f7f7;
}

.preview-area iframe {
    width: 100%;
    height: 300px;
    border: none;
}

#html, #css, #js {
    font-family: Helvetica, sans-serif;
    background: #1d1e22;
    color: white;
    border: 1px solid #333642;
    border-right: none;
    border-top: none;
    width: 100%;
    height: 300px;
}

.outer-div {
    width: 33.33%;
    float: left;
    position: relative;
}

textarea::-webkit-scrollbar {
    width: 0.3em;
}

textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

